{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste de genres</h1>
    <a href="{{ path('genres_new') }}" > 
        <button class="btn">Ajouter un nouvel audio</button>
    </a>

    <table class="records_list table table-stripes" id="datatable">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('genres_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
