{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création de Playlist</h1>

    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form(form) }}
    

    <a href="{{ path('playlists') }}">
        <button  class="btn">Retour</button>
    </a>    
{% endblock %}
