{% extends '::base.html.twig' %}

{% block body -%}
    {#{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}#}
{#
    <form action="{{ path('login_check') }}" method="post">
        <label for="mail">mail:</label>
        <input type="text" id="mail" name="_mail" value="{{ _mail }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">login</button>
    </form>
#}
<h1>HELLO WORLD !!</h1>
{% endblock %}
